<!DOCTYPE html>

<head>
    <meta charset="utf-8">
</head>

<body>
    {% set identity = resume.find('identity') -%}
    <h1>{{ identity.find('name').text }}'s CV</h1>

    {% set contact = resume.find('contact') -%}
    {% set email = contact.find('email') -%}
    <p>You can contact me through my {{ email.get('type') }} email: {{ email.text }}</p>

    <hr>
    {% set skills = resume.find('skills') -%}
    <h2>Skills</h2>
    <ul>
        {% for skill in prioritize(skills, 'skills') -%}
        <li> The {{ {"proglang": "programming language",
                    "tech": "technology",
                    "language": "spoken language of",
                    "softskill": "soft skill of"}[skill.tag] 
             }} {{ skill.text.strip() }} 
             {%- if skill.get('cert') is not none -%}
             &nbsp;({{ skill.get('cert') }})
             {%- endif %} </li>
        {% endfor %}
    </ul>

    <hr>
    {% set history = resume.find('history') -%}
    <h2>Experience</h2>
    {% for position in history -%}
    <h3>{{ position.get('title') }}</h3>
    <i>{{ position.get('org') }}, {{ daterange(position.find('from'), position.find('to')) }}</i>
    <ul>
        {% for role in position.findall('role') -%}
        <li>{{ role.text }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

    <hr>
    {% set education = resume.find('education') -%}
    <h2>Education</h2>
    {% for inst in education.findall('institution') -%}
    <h3>{{ inst.get('name') }}</h3>
    <i>{{ inst.find('certificate').text }}</i>
    {% for session in inst.findall('session') -%}
    <h4>{{ session.get('section') }} {{ session.get('year') }}</h4>
    <table>
        <tr>
            <td>Course title</td>
            <td>Grade</td>
        </tr>
        {% for course in session.findall('course') -%}
        <tr>
            {% if course.get('weburl') is not none: -%}
            <td><a href="{{ course.get('weburl') }}">{{ course.get('title') }}</a></td>
            {% else %}
            <td>{{ course.get('title') }}</td> 
            {% endif %}
            <td>{{ course.get('grade') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% endfor %}
<body>
